.inf__drop-area * {
	box-sizing: border-box;
}

.inf__drop-area {
	position: relative;
	display: flex;
	align-items: center;
  height: 30px;
	width: auto;
	max-width: 100%;
	transition: 0.2s;
}

.inf__drop-area.is-active {
	background-color: rgba(0, 20, 20, 0.03);
}

input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

input[type="file"]:focus {
	outline: none;
}

.inf__hint {

	display: inline-block;
	border-radius: 3px;
	text-transform: uppercase;
	flex: 1;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
